//Layout
//Mobile: 375px
//Desktop: 1440px


//Primary Colors
$Dark-Blue: hsl(240, 38%, 20%);
$Grayish-Blue: hsl(240, 18%, 77%);

//Font Weights
//300, 500, 700


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    padding: 100px;

    main {

        .right {
            float: right;
            width: 60%;
            height: 500px;
            background-image: url(./images/pattern-bg.svg);
            background-repeat: no-repeat;
            background-size: 100% 90%;
            background-position: top;

            .slide {
                background-image: url(./images/image-tanya.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 75%;
                height: 75%;
                margin: 45px auto;
            }

            .slider {
                background-color: #fff;
                border-radius: 20px;
                padding: 12px;
                overflow: hidden;
                width: 75px;
                margin-top: -65px;
                margin-left: 25%;
                box-shadow: 10px 10px 40px 0px $Grayish-Blue, 2px 2px 10px 0px $Grayish-Blue;

                .previous {
                    float: left;
                    width: 10px;
                    height: 10px;
                    background-image: url(./images/icon-prev.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;

                    &:hover {
                        background-image: url(./images/icon-prev-hover.svg);
                    }
                }

                .next {
                    float: right;
                    width: 10px;
                    height: 10px;
                    background-image: url(./images/icon-next.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;

                    &:hover {
                        background-image: url(./images/icon-next-hover.svg);
                    }
                }
            }
        }

        .left {
            float: left;
            width: 40%;
            height: 400px;

            .quote {
                width: 75px;
                height: 75px;
                background-image: url(./images/pattern-quotes.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: top;
                margin-top: 100px;
                margin-left: 10%;
            }

            p {
                color: $Dark-Blue;
                font-size: 1.2rem;
                font-weight: 300;
                margin-top: -25px;
            }

            span:first-of-type {
                color: $Dark-Blue;
                font-size: 1rem;
                font-weight: 700;
                line-height: 5;
            }

            span:last-of-type {
                color: $Grayish-Blue;
                font-size: 1rem;
                font-weight: 300;
            }
        }

        .bottom {
            float: left;
            width: 40%;
            height: 75px;
            background-image: url(./images/pattern-curve.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: top;
        }
    }
}
